.signup__image--container {
  background-image: url(https://images.pexels.com/photos/4353813/pexels-photo-4353813.jpeg?auto=compress&cs=tinysrgb&w=400);
  height: 100vh;
  background-size: cover;
}

.signup__form--container,
.login__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.login__image--container {
  background-image: url(https://images.pexels.com/photos/4983184/pexels-photo-4983184.jpeg?auto=compress&cs=tinysrgb&w=400);
  height: 100vh;
  background-size: cover;
}

label {
  padding: 10px;
  margin: 0 0 10px;
  display: block;
}

label:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .login__image--container,
  .signup__image--container {
    display: none;
  }
}
